################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArithmeticExpressionOptimizerTest/bin/Debug/net8.0
/ArithmeticExpressionOptimizerTest/obj
/obj/Debug/net8.0
/.vs
/obj
/bin/Debug/net8.0
